- provide(:title, "编辑提出的问题")
#main
  .container
    .row
      #mainbar-small.span9.box
        %h3.leading-normal.font-white.background-light-green 编辑提出的问题
        = render 'form'
      #sidebar.span3.box
        = render 'shared/sidebar'
