#main
  #upper-wrapper
    #intro
      #img1
      #img2(style="display: none;")
      #img3(style="display: none;")
      #intro-txt.pull-left
        %h2 来吧<br>和我们说说<br>属于你的<br>枪手记忆
      #login-box.pull-right
        .logo
          %a Gooner.in
        %span.slogan - In Arsenal we trust.
        #login-btn
          =link_to '登  录', log_in_path, class: "btn btn-large btn-success", style: "width: 139px;"
          %span - 或者 -
          =link_to '注  册', sign_up_path, class: "btn btn-large btn-primary", style: "width: 139px;"
  .h-divider
  #lower-wrapper
    .container
      .row
        .span4.box
          %h2 Gooner.in是什么
          %p Gooner.in是个关于阿森纳的网站。<br>虽然采用了问答的形式，但它并不定位于问答社区。<br>因为相对于答案，我们更希望能够帮助你梳理、记录阿森纳在你生命中泛起的点点滴滴。
          %h2 Gooner是谁
          %p