#main
  .container
    .row
      #mainbar-small.span3.offset4.box
        %h3 完善资料
        = form_for @user, html: {multipart: true}, validate: true do |f|
          %h4.leading-small.font-white.background-dark-blue Email:
          = f.text_field :email
          %h4.leading-small.font-white.background-dark-blue 用户名:
          = f.text_field :name
          = f.submit '保存', class: "btn btn-success"
        