# encoding: utf-8
#auth-links
  %ul.unstyled
    %li
      = link_to image_tag(image_path('weibo_56.png'), title: "新浪微博"), "/auth/weibo"
    %li
      = link_to image_tag(image_path('douban_56.png'), title: "豆瓣"), "/auth/douban"
    %li
      = link_to image_tag(image_path('qq_connect_56.png'), title: "腾讯QQ"), "/auth/qq_connect"
    