.sidebar-wrapper
  %h4.title-small.font-white.background-red Gooner.in
  #site-intro.font-gray
    %p
      希望年老时，
    %p
      仍能细数那些我们热爱的球员。
    %p
      希望这里，
    %p
      帮你守住那份对阿森纳的情感。
%hr
  #log-buttons
    = link_to "登录", :log_in, class: "btn"
    = link_to "注册", :sign_up, class: "btn"
%hr