
  .info-wrapper
    .info-txt
      %h3 #{player.name}
      %table
        %thead
          %tr
            %th 位置
            %th 国籍
            %th 出生日期
        %tbody
          %tr
            %td #{player.position}
            %td #{player.nationality}
            %td #{player.day_of_birth}

