#main
  .container
    .row
      #mainbar.span9.box
        #player-input
          %h3.title-small.font-white.background-light-red 编辑球员资料
          = render 'form'
      #sidebar.span3.box
        = render 'shared/sidebar'