#main
  .container
    .row
      .mainbar.span9.box
        #player-input
          %h3.title-small.font-white.background-light-red 新建球员资料
          = render 'form'
      #sidebar.span3.box
        - if logged_in?
          = render 'shared/sidebar_profile'
        - else
          = render 'shared/sidebar_login'
        %br
