@import "bootstrap";
//覆盖修正span* margin-left值
[class*="span"] {
  float: left;
  margin-left: 10px;
}

.span8 {
  width: 610px;
}
.offset4 {
  margin-left: 360px;
}

.offset3 {
  margin-left: 240px;
}

//强行解决dropdown-toggle的颜色问题
.nav-pills .open .dropdown-toggle {
  color: white;
  background-color: #0AB2C9;
  border-color: #0AB2C9;
}

//强行解决nav-pills active状态的颜色问题
.nav-pills .active > a, .nav-pills .active > a:hover {
  color: white;
  background-color: #0AB2C9;
  border-color: #0AB2C9;
}

//自定义mixins--------------------------------------------------

@mixin title($width){
  max-width: $width;
  padding: 5px 8px;
  @include border-radius(2px);
}

//球员头像样式 $radius为头像图片半径
@mixin avatar-image($radius) {
  //background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ff7f7f 50%,#ef5a4c 51%,#ff0505 100%);
  background: #fc9300;
  width: 2 * $radius;
  @include border-radius($radius + 3px);
  padding: 3px;
  img {
    width: 2 * $radius;
    @include border-radius($radius);
    vertical-align: middle;
  }
}

//球员头像样式 有hover效果 $radius为头像图片半径
@mixin avatar-image-with-hover($radius) {
  @include avatar-image($radius);
  @include bg-transition(.3s);
  &:hover {
    //background: -webkit-linear-gradient(-45deg, #fc9300 0%,#f9b55c 50%,#f49a46 51%,#f9a200 100%);  
    background: #ff0000;
  }
}

//用户头像样式
@mixin u-avatar-image() {
}

@mixin bg-transition($last) {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -webkit-transition-duration: $last;
  -moz-transition-duration: $last;
}

@mixin like($size) {
  display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  vertical-align: top;
  @include bg-transition(.3s);
}

@mixin image-setting {
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 360px;
  position: absolute;
  z-index: -2;
}

//通用---------------------------------------------------------
body {
  min-width: 960px;
  background-color: OldLace;
  font: 13px/22px 'Helvetica Neue', Helvetica, "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, Arial, Sans-serif;
  color: #222;
}

//logo用的字体
@font-face {
    font-family:"Trocchi";
    src:url("../font/Trocchi-Regular.eot?") format("eot"), url("../font/Trocchi-Regular.woff") format("woff"), url("../font/Trocchi-Regular.ttf") format("truetype"), url("../font/Trocchi-Regular.svg#Trocchi") format("svg");
    font-weight:normal;
    font-style:normal;
}

hr {
  margin: 14px;
}

.u-avatar-small {
  @include border-radius(3px);
}

.avatar-small {
  @include avatar-image-with-hover(20px);
}

.avatar-normal {
  @include avatar-image-with-hover(30px);
}
.avatar-middle {
  @include avatar-image-with-hover(50px);
}

.avatar-large {
  @include avatar-image(75px);
  //background: red;
}

//字体颜色类
.font-white {
  color: #FFEEFF;
}

.font-red {
  color: #B16969;
}

.font-gray {
  color: #615A5A;
}

//标题背景颜色类
.background-dark-blue {
  background: #08C;
}

.background-light-green {
  background: #0DCF99;
}

.background-light-red {
  background: #E47974;
}

.background-red {
  background: #F13626;
}

.clear-element {
  clear: both;
  visibility: hidden;
  margin: 0 auto;
}

.title-small {
  @include title(40%);
  font-weight: normal;
}

.title-large {
  @include title(60%);
  background: #43C248;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;

  &:hover {
    background: #3AAC3F;
  };
}

.leading {
  font-weight: normal;
  margin-bottom: 10px;
  padding: 6px 8px;
  @include border-radius(3px);
}

.leading-small {
  @include title(30%);
  @extend .leading;
}

.leading-tiny {
  @include title(10%);
  @extend .leading;
}

.title-normal {
  @include title(50%);
}

.title-tiny {
  @include title(22%)
}

.title-text {
  float: left;
  font-weight: normal;
  padding: 5px 8px;
  @include border-radius(2px);
}
.field {
  margin: 10px;
    
  a {
    margin-left: 10px;
    vertical-align: middle;
  }
}

//topbar

.topbar {
  
  .logo-box {
    background-color: red;
    @include border-radius(15px);
    width: 507px;
    height: 57px;
    margin: 10px 0;
    padding: 10px;
    display: inline-block;    
    .logo {
      margin-top: 18px;
      margin-left: 5px;
      display: inline-block;
    }
    
    .slogan {
      text-align: left;
      //margin: 0 3px 5px;
      position: relative;
      float: right;
      top: 32px;
      right: 10px;
    }    
  }

  .nav {
    position: relative;
    background-color: #35C9DD;
    @include border-radius(5px);
    display: inline-block;
    margin-right: -10px;
    width: 43%;
    top: 42px;
    //text-align: right;
    padding: 5px;
    
    li {       
      a {
        vertical-align: top;
        font-size: 14px;
        color: white;
        &:hover {
          background-color: #0AB2C9;
        }
      }
    }
    
    .dropdown-menu {
      li {
        a {
          color: black;
          
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.slogan {
  text-align: right;
  display: inline-block;
}

//字体

.logo {
  font-weight: bold;
  color: white;
    
  a {
    font-family: "Trocchi", san-serif;
    font-size: 55px;
    color: white;
    text-decoration: none;
  }
}

.slogan {
  font-family:"Trocchi", san-serif;
  font-size: 18px;
  color: white;
}

//Player#show
.player-info {
  height: 154px;
  margin: 10px;
  
  .info-wrapper {
    padding: 32px 50px;
    
    .info-txt {
      background: -webkit-linear-gradient(-45deg, #bfd255 0%,#8eb92a 80%,#72aa00 85%,#9ecb2d 100%); 
      //background: #1743CE;
      @include border-radius(10px);
      padding: 10px 0 10px 120px;
      width: 70%;
      h3 {
        margin-bottom: 5px;
      }
      
      th, td {
        padding-right: 15px;
        text-align: left;
      }
    }
  }
}

//Player#index
.players-list {
  padding:0 35px;
  
  ul {
    li {
      margin: 10px;
      text-align: center;
      width: 106px;
      height: 140px;
    
      a {
        padding-top: 5px;
      }
    }
  }
  
}

.control {
  padding: 0 10px;
  
  ul {
    margin-top: 10px;
    li {
      a {
        padding: 5px;
      }
    }
  }
}

//Player#new #edit
#player-input {
  padding: 10px;
}

#mainbar {
  padding: 10px;
  min-height: 305px;
}

#mainbar-small {
  padding: 10px;
}

//字体
.player-info {
  color: white;
  
  h3 {
    color: white;
    font-size: 22px;
  }
  
  table {
    font-size: 14px;
  }
}

.players-list {
  
  h2 {
    color: grey;
    font-size: 22px;
  }
}


//位置

#upper-wrapper {
	width: 100%;
	height: 360px;
}

#lower-wrapper {
  margin: 10px;
  margin-bottom: 0px;
}
.h-divider {
  height: 5px;
  width: 100%;
  background-color: red;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.v-divider {
  width: 12px;
  height: 80%;
  color: black;
  z-index: 999;
}

.box {
  @include border-radius(10px);
  background-color: white;
}

//home
#intro {
  width: 100%;
  height: 360px;
}

#img1 {
  @include image-setting;
  background-image: url('gooner-large-1.jpg');
}
  
#img2 {
  @include image-setting;
  background-image: url('gooner-large-2.jpg');
}

#img3 {
  @include image-setting;
  background-image: url('gooner-large-3.jpg');
}

#intro-txt {
  margin: 50px 0 50px 50px;
  padding: 10px 0;
}

#login-box {
  background-color: rgba(255, 0, 0, 0.6);
  border: none;
  width: 280px;
  @include border-radius(20px);
  margin: 33px 50px;
  padding: 45px 30px;
  
  #login-btn {
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  span {
    display: block;
    margin: 10px 0;
  }
}


#lower-wrapper {
  .span4 {
    padding: 15px;
  }
  
  .span8 {
    padding-bottom: 8px;
    
    h3, h4 {
      margin: 15px;
    }
    
    h4 {
      margin-left: 25px;
      font-size: 18px;
    }
    
    p {
      margin: 0 15px;
    }
  }
  
  p {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 16px;
  }
}

#hot-players {
  margin-left: 25px;
  margin-bottom: 8px;
  li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
//字体、颜色、样式
#intro-txt {
  h2 {
    font-size: 55px;
    color: white;
    line-height: 60px;
  }
}


#login-box {
  
  #login-btn {
    text-align: center;
    span {
      color: white;
    }
  }
}

.field_with_errors {
  .message {
    display: inline-block;
    margin-left: 10px;
    color: red;
  }
}

//Question
.question-title {
  word-wrap: break-word;
  overflow: hidden;
  background-color: #43C248;
  @include border-radius(3px);
  margin: 5px 0;
  padding: 8px;
}


.asker-info {
  margin: 0 5px 5px;
  span {
    color: gray;
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
  }
}
.related-players-wrapper {
  height: 60px;
}

.related-players {
  position: relative;
  height: 40px;
  span {
    position: absolute;
    top: 12px;
    padding: 2px 5px;
    background-color: orange;
    @include border-radius(3px);
  }
  ul {
    height: 50px;
    margin: 4px 0 4px 66px;
    li{
      display: inline;
      margin-right: 2px;
    }
  }
}



#actions > span {
    display: block;
    margin-top: 25px;
    color: gray;
}

.answers-field {
  .answer-squad {
    margin: 5px;
    
    .user-avatar {
      display: block;
      float: left;
      margin-top: 4px;
    }
    
    .answer-main {
      margin-left: 60px;
      
      .user-info {
        color: #6D8C9B;
        margin-bottom: 10px;
        font-size: 14px;
      }
      
      .answer-content {
        margin: 5px 0;
        min-height: 50px;
      }
    }
  }
}

.small_like {
  @include like(16px);
  background: url(image_path("like.png")) no-repeat;
}

.small_liked {
  @include like(16px);
  background: url(image_path("liked.png")) no-repeat;
}

#place-holder {
  text-align: center;
  margin: 30px 0;
  height: 80px;
  vertical-align: middle;    
  p {
    color: gray;
    font-size: 14px;
    line-height: 80px;
  }
}

#footer-m {
  color: #8A858A;
  margin: 10px -10px 10px 0;
  padding: 5px;
  background: #DDDDD9;
  text-align: center;
  
  a {
    color: #C77979;
    padding: 3px;
    -webkit-transition-property: background color;
    -webkit-transition-duration: .3s;
    
    &:hover {
      background: #F36E6E;
      color: white;
      text-decoration:none;
    }
  }
}

.sidebar-wrapper {
  margin: 10px;
}

#site-intro {
  padding: 0 5px;
  p:first-child {
    margin-top: 10px;
  }
}

#log-buttons {
  margin: 0 50px;
  a:first-child {
    margin-right: 20px;
  }
}
.user-profile {
  .user-avatar {
    margin: 10px 20px 30px;
  }
  
  span {
    display: block;
    width: 100%;
  }
}

#ask {
  margin: 0 20px;
  text-align: center;
  a {
    margin: 0 39px;
  }
}

#answer-list {
  margin-top: 5px;
}

#answer-list > article  > .title-line > h3 > a, #question-list > article > .upper-box > .title-line > h3 > a,
#lower-wrapper > .container > .row > .span8 > h4 > a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  };
}

#question-list, #answer-list {
  article {
    margin: 5px 0;
    min-height: 80px;
    position: relative;

    .upper-box {
      margin-bottom: 10px;
    }
    
    .right-box {
      position: relative;
      
    }
  }
}


.tags {
  display: block;
  position: relative;
  float: left;
  padding:2px 5px;
  margin-right: 4px;
  background-color: #09A8EB;
  @include border-radius(3px);
}

.title-line {
  margin-bottom: 10px;
}

.answer-summary {
  margin-left: 55px;
  margin-bottom: 10px;
  padding: 0 5px;
  font-size: 14px;
  
  p {
    color: #476968;
  }
}

.answer-summary > a, .answer-sum > span > a {
  margin-top: 20px;
  padding: 2px 4px;
  font-size: 12px;
  @include bg-transition(.3s);
  
  &:hover {
    background-color: #46A7D6;
    color: white;
    text-decoration: none;
  };
}
.responder-info {
  color: #6D8C9B;
  position: relative;
  top: -6px;
}

.responder-info > span > a {
  color: #6D8C9B;
  
  &:hover {
    color: #6D8C9B;
  };
}

//Question#new
.q-box {
  margin: 20px;
}

form.new_question, form.edit_question {
  input#question_title {
    width: 650px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
  }
}

#tips {
  display: inline-block;
  background: rgba(245, 226, 226, 0.31);
  margin-left: 10px;
  padding: 0 5px;
  span {
    line-height: 30px;
    vertical-align: middle;
    padding: 0 3px;
  }
}

//People#show
#person-info {
  margin: 10px 0;
}

#person-info > img {
  margin-top: 5px;
}

#person-details {
  margin-left: 140px;
}

.box-t {
  color: #A0BDCF;
  font-size: 14px;
  margin-bottom: 5px;
}

.box-t > span {
  color: #75867C;
  font-size: 12px;
}

.box-c {
  color: #75867C;
  margin: 0 10px;
}

.box-c > span {
  color: #76B8A3;
  font-size: 18px;
}

#tab3, #tab2, #tab1 {
  li:first-child {
    margin-top: 5px;
  }
}


.answer-sum {
  @extend .answer-summary;
  padding: 5px 10px;
  margin-left: 0;
}

.like-details {
  color: grey;
  font-size: 12px;
  margin-right: 10px;
  em {
    color: #76B8A3;
    font-size: 14px;
  }
}

.box-q {
  margin-bottom: 10px;
  min-height: 30px;
  vertical-align: middle;
  
  h4{
    margin-bottom: 8px;
    line-height: 21px;
  }
}

.box-q > h4 > a, .box-a > h4 > a {
  &:hover {
    color: white;
    text-decoration: none;
  };
}

.get-more-link {
  
}
//Person#questions_list
#person-links {
  margin: 10px;
  height: 45px;
}

#person-links > ul {
  font-size: 14px;
  vertical-align: middle;
  li:first-child {
    margin-left: 10px;
  };
  li {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
  }
}

//Answers#show
.more-answers {

}

//SettingsProfile#show
.box-s {
  margin: 20px;
  height: 60px;
  
  h4 {
    width: 60px;
    font-weight: bold;
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
  }
}

.edit_user {
  margin-left: 85px;
}

.box-s > img {
  position: relative;
  top: 8px;
}

#avatar-upload {
  margin-left: 60px;
}

#user_avatar {
  display: block;
  margin-bottom: 5px;
}

#user_description {
  display: block;
  font-size: 18px;
  line-height: 26px;
  height: 26px;
  width: 480px;
}

//AvatarUploader#crop
#box-o {
  margin: 20px 30px;
}

#btn {
  margin-left: -85px;
  margin-top: 10px;
  text-align: center;
}
//回答样式
.answer-content {
  font-size: 14px;
  
  p, ul, ol, table, dl, blockquote, pre {
    color: #534F4F;
    font-size: 14px;
  	margin-bottom: 15px !important;
  	line-height: 1.5em !important;
  }
  
  object,
  embed,
  video,
  img {
  	//width: auto;
  	max-width: 100%;
  }
  
  iframe, 
  object,
  hr {
  	margin-bottom: 15px !important;
  }
  
  blockquote {
  	margin-left: 2em !important;
  	//font-style: italic !important;
    
    p {
      color: #AA5656;
    }
  }
  
  b {
    color: #08C;
  }
  
 ul, 
 ol {
    text-decoration: none;
  	padding-left: 2em !important;	
    color: #AA5656;
  }
  
  hr {
    border-top: 1px solid #ECC6C6;
    border-bottom: 1px solid white;
  }
}
