@import "bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
   -border-radius:        $radius;
}


body {
  min-width: 960px;
  background-color: OldLace;
}
//样式


.topbar {
  
  .logo-box {
    background-color: red;
    @include border-radius(18px);
    //width: 60%;
    margin: 10px 0;
    padding: 12px;
    display: inline-block;
    
    .logo {
      margin-top: 16px;
      display: inline-block;
    }
    
    .slogan {
      text-align: left;
      margin: 0 3px 5px;
    }    
  }
}

.slogan {
  text-align: right;
  display: inline-block;
}

.breadcrumbs {
  padding: 7px 14px;
  margin: 0 0 10px;

  li {
    display: inline;
  }
}

//字体
@mixin web-font {
  font-family: 'Trocchi', sans-serif;
}

.logo {
  font-weight: bold;
  color: white;
    
  a {
    @include web-font;
    font-size: 55px;
    color: white;
    text-decoration: none;
  }
}

.slogan {
  @include web-font;
  font-size: 18px;
  color: white;
}


