// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -border-radius:        $radius;
}

.avatar-small {
  background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ff7f7f 50%,#ef5a4c 51%,#ff0505 100%);
  width: 106px;
  @include border-radius(58px);
  -webkit-transition: background .1s linear;
  
  img {
    width: 100px;
    @include border-radius(50px);
    vertical-align: middle;
    margin: 3px;
  }
}

.avatar-small:hover {
  background: -webkit-linear-gradient(-45deg, #fc9300 0%,#f9b55c 50%,#f49a46 51%,#f9a200 100%);
}

.avatar-large {
  background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ff7f7f 50%,#ef5a4c 51%,#ff0505 100%);
  width: 156px;
  @include border-radius(78px);
  
  img {
    width: 150px;
    @include border-radius(75px);
    vertical-align: middle;
    margin: 3px;
  }
  
}


.player-info {
  height: 154px;
  margin: 10px;
  
  .info-wrapper {
    padding: 32px 50px;
    
    .info-txt {
      background: -webkit-linear-gradient(-45deg, #bfd255 0%,#8eb92a 80%,#72aa00 85%,#9ecb2d 100%); 
      @include border-radius(10px);
      padding: 10px 0 10px 120px;
      width: 55%;
      h3 {
        margin-bottom: 5px;
      }
      
      th, td {
        padding-right: 10px;
        text-align: left;
      }
    }
  }
}

.players-list {
  padding: 10px 35px;
  
  ul {
    li {
      margin: 10px;
      text-align: center;
      width: 106px;
    
      a {
        padding-top: 5px;
      }
    }
  }
  
}

.control {
  padding: 10px;
  
  ul {
    li {
      a {
        padding: 5px;
      }
    }
  }
}

.mainbar {
  form {
    margin: 10px;
    
    a {
      margin: 10px;
    }
  }
}
//字体
.player-info {
  color: white;
  
  h3 {
    color: white;
    font-size: 22px;
  }
  
  table {
    font-size: 14px;
  }
}

.players-list {
  
  h2 {
    color: grey;
    font-size: 22px;
  }
}