%footer
  .container
    .row
      .span12
        #footer-m.box
          %span Gooner.in目前是由zisasign一个人在打理，所以有很多不完善的地方。如果你有什么想吐槽的，可以去<a href="http://weibo.com/zisasign" target="_blank">微博</a>联系他。不过他这个人挺讨厌的，不见得会理你噢。
          %span Gonner.in founded by zisasign, powered by <a href="http://http://rubyonrails.org/">Ruby on Rails</a> 2012 - eow.