#topbar
  .container
    .logo
      %a(href='/')
        %span Gooner.in - In Arsenal we trust.
    .pull-right
      = link_to '关于', '#', class: 'btn btn-success'
      %span
      = link_to '介绍', '#', class: "btn btn-success"