!!! 5
%html(lang="zh-CN")
  %head
    %title
      Gooner.in - In Arsenal we trust.
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %meta{property:"wb:webmaster", content:"31075ee7e49d0d58"}
    %meta{property:"qc:admins", content:"7553475377652616"}
    = csrf_meta_tags
  %body
    = yield